@import url('https://fonts.googleapis.com/css?family=Manrope');

html {
    background-color: rgba(32, 32, 32, 1);
}

.white-text {
    color: rgba(222, 222, 222, 1);
}

.black-bg {
    background-color: rgba(32, 32, 32, 0.8);
}

div.black-bg {
    background-color: rgba(32, 32, 32, 1);
}

section {
    margin-top: 70px;
}
