@import url("https://fonts.googleapis.com/css?family=Manrope");

html {
    background-color: rgba(32, 32, 32, 1);
}

.white-text {
    color: rgba(222, 222, 222, 1);
}

.grey-bg {
    background-color: rgba(50, 50, 50, 0.7);
}

.black-bg {
    background-color: rgba(32, 32, 32, 0.80);
}
